$lighter-purple: #f5f0f7;
$dark-purple: #9d44ab;


.tasks-container {
    // position: absolute;
    width: 100%;
    padding: 2rem 5.2rem;
}

.task {

    &__card {

        background-color: $lighter-purple;
        width: auto;
        height: auto;
        min-height: 200px;
        box-shadow: none;
        color: #323131;
        margin-bottom: 2rem !important;
        cursor: move;

        &:hover {
            border: 2px solid $dark-purple;
        }

        &__icon {
            cursor: pointer;
        }
    }

    &__description {
        padding-right: 2rem;
    }


}

.ui.header {
    padding-bottom: 1.2rem;
}